//公用的css
*
	margin: 0
	padding: 0

body
	font-size: 16px
	font-family: "Arial"

a
	text-decoration: none
	color: #222

li
	list-style: none

i, b
	font-style: normal

.container
	width: 1200px
	margin: 0 auto

button, input
	outline: none
	border: none
button 
	cursor: pointer
input
	border: 1px solid #dfdfdf

//登陆页面
.loginBox .el-tabs__nav 
	width: 100%
	height: 60px
	line-height: 60px
.loginBox .el-tabs__item
	text-align: center
	padding: 0
	font-size: 16px
	height: 60px
	line-height: 60px
.loginBox #tab-first
	width: 53%
	padding-left: 20px 
.loginBox #tab-second
	width: 46%
.loginBox .el-tabs__nav-wrap::after
	height: 1px
.loginBox .el-tabs__nav >div:nth-child(2):after
	content: '|'
	color: #dfdfdf
	padding-left: 25px
.loginBox .el-tabs__item:hover
	color: #222
.loginBox .el-tabs__active-bar
	background-color: #dfdfdf
	height: 0
.loginBox .el-tabs__item.is-active 
	color: #F9421E
	out-line: none
.loginBox .el-tabs__content 
	margin: 0 20px
.loginBox .el-input__prefix .iconfont 
	position: absolute
	top: 30%
	left: 8px
.loginBox .el-input 
	margin-bottom: 20px
.loginBox .el-input--prefix .el-input__inner 
	padding-left: 40px

//商品详情页
.goodsContent .el-breadcrumb__inner.is-link:hover 
	color:#222
.goodsContent .el-button
	background: #eee
	margin-right: 11px
	cursor: inherit
.goodsContent .el-button:hover
	color: #222
	background: #eee
.goodsContent .el-button span 
	color: #f9421e
	font-size: 24px
.goodsContent .el-badge__content
	background-color: #FFB510
	line-height: 17px
.goodsContent .el-input-number:hover 
	border-color: #dfdfdf
.goodsContent .el-input-number:focus  
	border-color: #dfdfdf
.goodsContent .el-input-number__decrease:hover
	color: #666
.goodsContent .el-input-number__increase:hover
	color: #666
.goodsContent .el-input__inner:focus
	color: #666
	border-color: #dcdfe6
.goodsContent .el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled)
	border-color: #dcdfe6
.goodsContent .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled)
	border-color: #dcdfe6
.goodsContent .el-input-number__decrease
	background: #eee
.goodsContent .el-input-number__increase
	background: #eee

//文章详情页(后台编辑文章时要注意 图片居中)

.text span, .text strong, .text p
	font-family: 'Arial' !important
	line-height: 24px
.text p img
	max-width: 100%
	padding: 15px 0

//去掉element的input边框颜色
.el-input--prefix .el-input__inner:focus 
	border-color: #dfdfdf
.el-input--prefix .el-input__inner:hover
	border-color: #dfdfdf
.el-icon-caret-top
	color: #222
.el-icon-caret-bottom
	color: #222
//分页样式
.changePage
	width: 100%
	text-align: center
	margin: 20px 0
.changePage .el-pagination.is-background .el-pager li:not(.disabled):hover
	color: #F9421E
.changePage .el-pagination.is-background .el-pager li:not(.disabled).active
	background-color: #F9421E
.changePage .el-pagination.is-background .el-pager li.active:hover
	color: #fff
//tab样式
.tabBox .el-tabs--top .el-tabs__item.is-top:last-child
	padding-right: 20px
.tabBox .el-tabs__item.is-active
	color: #fff
	background-color: #F9421E
.tabBox .el-tabs__active-bar
	background-color: rgba(0,0,0,0)
.tabBox	.el-tabs--top .el-tabs__item.is-top:nth-child(2)
	padding-left: 20px
.tabBox .el-tabs__nav-wrap:after
	background-color: #F9421E
.tabBox .el-tabs__item:hover
	color: #F9421E
.tabBox .el-tabs__item.is-active:hover
	color: #fff
//主体字体颜色
$font_color: #222

//描述类文字颜色 
$describe_color: #666

//提示类文字颜色
$tips_color: #999

//主题颜色 
$theme_color: #F9421E

//下划线颜色 
$border_bottom: 1px solid #dfdfdf

//边框颜色
$border: 1px solid #dfdfdf

//边框圆角
$border_radius: 4px

//边框,圆角
@mixin br($border, $radius)
	border: $border
	border_radius: $radius

//边框上下左右圆角
@mixin ttbb($radiusTopLeft, $radiusTopRight, $radiusBottomLeft, $radiusBottomRight)
	border-top-left-radius: $radiusTopLeft
	border-top-right-radius: $radiusTopRight
	border-bottom-left-radius: $radiusBottomLeft
	border-bottom-right-radius: $radiusBottomRight

//超出一行出现省略号(不能实现定义)

//定位上下左右居中
@mixin center  
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

//小竖杠
@mixin line
	content: "|"
	color: #666

//宽高
@mixin wh($width, $height)
	width: $width
	height: $height

//高,行高
@mixin hh($height, $lineH)
	height: $height
	line-height: $lineH

//在一定宽度左右居中
@mixin wc($width, $center)
	width: $width
	text-align: $center

//宽高,行高(上下居中)
@mixin whh($width, $height, $line-height)  
	width: $width
	height: $height
	line-height: $line-height

//宽高,行高(上下左右居中)
@mixin whch($width, $height, $center, $line-height)  
	width: $width
	height: $height
	text-align: $center
	line-height: $line-height

//字体大小,颜色
@mixin sc($size, $color)
	font-size: $size
	color: $color

